<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Biblioteca Isaac Felipe Azofeifa</title>
    <link rel="stylesheet" href="~/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/template/images/favicon.png" />

</head>
<body>
    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="javascript:void(0);">
                    <svg width="220" height="60" xmlns="http://www.w3.org/2000/svg">
                        <!-- Fondo sutil con bordes redondeados -->
                        <rect width="100%" height="100%" fill="#FFFFFF" rx="10" ry="10" />

                        <!-- Ícono de libro -->
                        <path d="M10 5V3C10 1.89543 10.8954 1 12 1H18C19.1046 1 20 1.89543 20 3V5H10ZM8 5H4C2.89543 5 2 5.89543 2 7V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V7C22 5.89543 21.1046 5 20 5H16V7C16 8.10457 15.1046 9 14 9H12C10.8954 9 10 8.10457 10 7V5H8ZM12 3H18V5H12V3ZM4 7H20V19H4V7Z" fill="#4B49AC" transform="translate(10, 10)" />

                        <!-- Texto "Biblioteca" -->
                        <text x="60" y="35" font-size="24" fill="#4B49AC" font-family="'Georgia', serif" font-weight="600">Biblioteca</text>

                        <!-- Texto "Isaac Felipe Azofeifa" -->
                        <text x="60" y="50" font-size="14" fill="#666" font-family="'Georgia', serif" font-weight="400">Isaac Felipe Azofeifa</text>
                    </svg>
                </a>
                <a class="navbar-brand brand-logo-mini" href="javascript:void(0);">
                    <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
                        <!-- Fondo sutil con bordes redondeados -->
                        <rect width="100%" height="100%" fill="#FFFFFF" rx="10" ry="10" />

                        <!-- Ícono de libro -->
                        <path d="M10 5V3C10 1.89543 10.8954 1 12 1H18C19.1046 1 20 1.89543 20 3V5H10ZM8 5H4C2.89543 5 2 5.89543 2 7V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V7C22 5.89543 21.1046 5 20 5H16V7C16 8.10457 15.1046 9 14 9H12C10.8954 9 10 8.10457 10 7V5H8ZM12 3H18V5H12V3ZM4 7H20V19H4V7Z" fill="#4B49AC" transform="translate(10, 10)" />
                    </svg>
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <div class="main-panel" style="width:100%">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year. Biblioteca Isaac Felipe Azofeifa. Derechos Reservados</span>
                    </div>
                </footer>

            </div>
        </div>
    </div>

    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/hoverable-collapse.js"></script>
    <script src="~/template/js/template.js"></script>
    <script src="~/template/js/settings.js"></script>
    <script src="~/template/js/todolist.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    <script src="~/template/js/Chart.roundedBarCharts.js"></script>

</body>
</html>